@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container">
    <div class="row text-center animated" data-animation="bounceInRight">
        <div class="team-frame">
            <ul class="team-slider">
                <li>
                    <div class="team-member animated" data-animation="fadeIn">
                        <div class="avatar-team"> <img alt="img" src="C:\Users\estigarribia\Source\Repos\ProyectoAvanzado\imge\diana-alvarenga.png"></div>
                        <div class="details-team">
                            <h3 class="heading">Diana Alvarenga</h3>
                            <h4 class="sub-heading">Team Leader</h4>
                            <div class="desc-det">
                                Correo:<br>dalvarenga@medicsharp.com.py<br>Tel: 021 619 0001
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-member animated" data-animation="fadeIn">
                        <div class="avatar-team"> <img alt="img" src="C:\Users\estigarribia\Source\Repos\ProyectoAvanzado\imge\gerardo-lezcano.png"></div>
                        <div class="details-team">
                            <h3 class="heading">Gerardo Lezcano</h3>
                            <h4 class="sub-heading">Team Member</h4>
                            <div class="desc-det">
                                Correo:<br>glezcano@medicsharp.com.py<br>Tel: 021 619 0002
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-member animated" data-animation="fadeIn">
                        <div class="avatar-team"> <img alt="img" src="C:\Users\estigarribia\Source\Repos\ProyectoAvanzado\imge\carlos-fernandez.png"></div>
                        <div class="details-team">
                            <h3 class="heading">Carlos Fernandez</h3>
                            <h4 class="sub-heading">Team Member</h4>
                            <div class="desc-det">
                                Correo:<br>cfernandez@medicsharp.com.py<br>Tel: 021 619 0003
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team-member animated" data-animation="fadeIn">
                        <div class="avatar-team"> <img alt="img" src="C:\Users\estigarribia\Source\Repos\ProyectoAvanzado\imge\abel-avalos.png"></div>
                        <div class="details-team">
                            <h3 class="heading">Abel Avalos</h3>
                            <h4 class="sub-heading">Team Member</h4>
                            <div class="desc-det">
                                Correo:<br>aavalos@medicsharp.com.py<br>Tel: 021 619 0004
                            </div>
                        </div>
                    </div>
                </li>

                <p>Equipo de MediCsharp Avanzado</p>
