@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section id="our-team" class="section section-white">
    <div class="container">
        <div class="row text-center animated">
            <div class="col-md-offset-2 col-md-8">
                <header class="section-header">
                    <div class="animated" data-animation="bounceInRight"> <i class="autologo_avto"></i> </div>
                    <div class="heading-wrap">
                        <h2 class="heading "><span>Equipo de Trabajo</span></h2>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center animated" data-animation="bounceInRight">
            <div class="team-frame">
                <ul class="team-slider">
                    <li>
                        <div class="team-member animated" data-animation="fadeIn">
                            <div class="avatar-team"> <img alt="img" src="~/Imagenes/diana.png"></div>
                            <div class="details-team">
                                <h3 class="heading">Diana Alvarenga</h3>
                                <h4 class="sub-heading">Team Leader</h4>
                                <div class="desc-det">
                                    Correo:<br>dalvarenga@medicsharp.com.py<br>Tel: 021 619 0001
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="team-member animated" data-animation="fadeIn">
                            <div class="avatar-team"> <img alt="img" src="~/Imagenes/gerardo.png"></div>
                            <div class="details-team">
                                <h3 class="heading">Gerardo Lezcano</h3>
                                <h4 class="sub-heading">Team Member</h4>
                                <div class="desc-det">
                                    Correo:<br>glezcano@medicsharp.com.py<br>Tel: 021 619 0002
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="team-member animated" data-animation="fadeIn">
                            <div class="avatar-team"> <img alt="img" src="~/Imagenes/carlos.png"></div>
                            <div class="details-team">
                                <h3 class="heading">Carlos Fernandez</h3>
                                <h4 class="sub-heading">Team Member</h4>
                                <div class="desc-det">
                                    Correo:<br>cfernandez@medicsharp.com.py<br>Tel: 021 619 0003
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="team-member animated" data-animation="fadeIn">
                            <div class="avatar-team"> <img alt="img" src="~/Imagenes/abel.png"></div>
                            <div class="details-team">
                                <h3 class="heading">Abel Avalos</h3>
                                <h4 class="sub-heading">Team Member</h4>
                                <div class="desc-det">
                                    Correo:<br>aavalos@medicsharp.com.py<br>Tel: 021 619 0004
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    <p>Equipo de MediCsharp Avanzado</p>
