@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MediCsharp<br />
    Calle Eligio Ayala 1383 y Paí Perez// Asunción - Paraguay<br />
    <abbr title="Telefono">Teléfono:</abbr>
    (021) 248 9000
</address>

<form class="form-horizontal">
    <fieldset>
        <legend>Escribinos</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
               
            </div>
        </div>
        <div class="form-group">
            <label for="Consulta" class="col-lg-2 control-label">Consulta</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="Nos estaremos comunicando en breve contigo!.</span>
            </div>
        </div>
      
        
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </fieldset>
</form>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@medicsharp.com.py">soporte@medicsharp.com.py</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@medicsharp.com.py">marketing@medicsharp.com.py</a>
</address>

