@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MediCsharp<br />
    Calle Eligio Ayala 1383 y Paí Perez// Asunción - Paraguay<br />
    <abbr title="Telefono">P:</abbr>
    (021) 248 9000
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@medicsharp.com.py">soporte@medicsharp.com.py</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@medicsharp.com.py">marketing@medicsharp.com.py</a>
</address>