@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MediCsharp</h1>
    <p class="lead">Bienvenido a la Plataforma de Atención, MediCsharp se encargará de gestionar tus consultas!!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>
            » Terapia Intensiva adultos.
            » Salas para internaciones.
            » Quirófano.
            » Urgencias y emergencias las 24 horas.
            » Servicio de ambulancia.
            » Estudios Patológicos y de Diagnóstico.
            » Servicio de Neonatología (Maternidad).
            » Infraestructura para tratamientos de Diálisis.
            » Nivel II Mediana Complejidad entre otros.
            » Laboratorio de Analisis Clinicos
            » Rayos X y Ecografias
            » Fisioterapia.
        </p>
            
    </div>
    <div class="col-md-4">
        <h2>Horarios</h2>
        <p>Reserva de turnos: (021) 556 817 - Cel: 0985 530 504 (WA)
            Horario de Atención: 08:00hs a 12:00hs y de 15:00hs a 20:00hs.</p>
     </div>
   
</div>